{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Редактировать{% endblock %}
{% block content %}
 <div class="card">
            <div class="card-body">
                <h4 class="card-title">Редактируйте свой аккаунт!</h4>
                <form method="post">
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}">
                {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Сохранить</button>
                </form>
            </div>
    </div>

{% endblock %}