{% extends "base.html" %}
 {% load static %}

{% block title %}Редактировать{% endblock %}
{% block content %}
    <section class="registration">
        <div class="container">
            <div class="registration__wrapper">
                <div class="registranion__form">
                    <h5 class="registranion__form-title">Редактируйте свой аккаунт!</h5>
                    <form method="post" enctype="multipart/form-data">
                            {% if messages %}
                            <ul class="messages">
                            {% for message in messages %}
                            <li class="{{ message.tags }}">
                            {{ message|safe }}
                            </li>
                            {% endfor %}
                            </ul>
                            {% endif %}
                        {{ user_form }}
                        {{ profile_form }}
                        {% csrf_token %}
                        <button class="registration__btn">Сохранить</button>
                    </form>
                </div>
                <img src="{% static 'images/registation.jpg' %}" alt="registation.jpg">
            </div>
        </div>
    </section>

{% endblock %}