{% extends "base.html" %}
{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}
{% block content %}
        <section class="user__list">
        <div class="container">
            <h5 class="user__list-title">{{ user.get_full_name }}</h5>
            <div class="user__list-wrapper">

                {%thumbnail user.profile.photo "180x180" crop="100%" as im%}
                    <img class="user__logo" src="{{ im.url }}" alt="user__logo">
              {% endthumbnail %}
            </div>
    {% with total_images_created=request.user.images_created.count %}
<p>Вы добавили в закладки
{{total_images_created }} изображения{{ total_images_created|pluralize }}.</p>
{% endwith %}
<p>Для того,чтобы воспользоваться букмарклетом перетащите его в закладки-> откройте на любом сайте и оцените результат
<a href="javascript:{% include "bookmarklet_launcher.js" %}" class="button">
    <button class="comments__form-btn">Bookmark it</button></a>
    </section>

{% endblock %}


