html{
    box-sizing: border-box;
}
 
*,*::before,*::after{
    box-sizing: inherit;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

p{
    margin: 0;
}

body{
    background-image: url('../images/bg.jpg');
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;    
}

.container{
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo{
    position: relative;
    margin: 20px 0 20px 0;
    max-width: 100px;
    height: 22px;
} 

.dashboard__content{
    display: flex;
    justify-content: space-between;
}

.dashboard__slider-wrapper{
    max-width: 900px;
    background-color: #516395;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.dashboard__slider-img{
    max-width: 900px;
    margin-bottom: 26px;
}

.dashboard__slider-content{
    margin-left: 44px;
    margin-right: 32px;
}

.dashboard__slider-title{
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 33px;
}

.dashboard__slider-text{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #D2D2D2;
    margin-bottom: 67px;
}

.dashboard__slider-bottom{
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.slick-dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    
}

.slick-dots li{
    display: inline-block;
    padding: 0 5px;
}

.slick-dots button{
    padding: 0;
    font-size: 0;
    margin: 0;
    width: 11px;
    height: 11px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: transparent;
    outline: none;
}

.slick-dots .slick-active button{
    background-color: #fff;
}


.dashboard__slider-btn{
    transition: all .9s;
}
.dashboard__slider-btn:hover{
    transition: all .8;
    color: #323469;
}

.dashboard__userboard{
    position: relative;
    
}

.dashboard__userboard-wrapper{
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100%;
    background: #516395;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 22px;
    padding: 26px 40px;
    text-align: center;
}


.dashboard__userboard-name{
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 30px;
}

.dashboard__userboard-name span{
    font-weight: 800;
}

.dashboard__userboard-photo{
    max-height: 150px;
    max-width: 150px;
}

.userboard__list{
    margin-top: 38px;
}

.userboard__list-link{
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    width: 230px;
    padding: 12px 46px;
    margin-bottom: 15px;
    background: rgba(32, 34, 69, 0.5);
    border-radius: 10px;
    position: relative;
    transition: all .8s;
}

.userboard__list-link:hover{
    background: rgba(247, 247, 247, 0.5);
}

.userboard__list-title{
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.userboard__list-title::before{
    content: "";
    position: absolute;
    background-image: url('../images/arrow-down.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 18px;
    left: 24px;
    height: 8px;
    width: 13px;
}

.list-blog::before{
    content: "";
    position: absolute;
    background-image: url('../images/blog.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 13px;
    left: 24px;
    height: 16px;
    width: 16px;
}

.list-people::before{
    content: "";
    position: absolute;
    background-image: url('../images/people.svg');
    background-size: cover;
    background-repeat: no-repeat;
    top: 13px;
    left: 22px;
    height: 16px;
    width: 18px;
}

.dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}



.userboard__list-content{
    text-align: center;
    display: none;
    position: absolute;
    background-color: #323469;
    border: 2px outset slateblue;
    border-radius: 10px 10px 10px 10px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.userboard__list-content-link{
    border: 2px outset slateblue;
    border-radius: 10px 10px 10px 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all .8s;
}

.userboard__list-content-link:hover{
    background: rgba(247, 247, 247, 0.5);
}


.dropdown:hover .userboard__list-content {
    display: block;
}

.userboard__exit-btn{
    text-align: center;
}

.politic{
    text-align: center;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #EDEDED;
}

.autor{
    /* text-align: center; */
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.login{
    display: flex;
    align-items: center;
    min-height: 100vh;
    
}
.login__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    height: 493px;
    background: #516395;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
}

.login__logo{
    margin: 41px 0 64px;
}

.login-form{
    display: flex;
    flex-direction: column;
    padding: 0 79px;
}

.login-form input{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 6px 143px 6px 25px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    
}

.login__input{
    margin-bottom: 36px;
    font-weight: 600;
}


.login__input::placeholder{
    color: #fff;
}

.pass__input{
    margin-bottom: 14px;
}

.pass__input::placeholder{
    color: #fff;
}

.form__btn{
    display: block;
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.form__btn button{
    width: 150px;
    padding: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer; 
    border: none;
    transition: all .5s;
}

.form__btn-entry{
    background-color: #202245;
    color: #fff;
}

.form__btn-entry:hover{
    background: rgba(32, 34, 69, 0.5);
}

.form__btn-register{
    background: rgba(32, 34, 69, 0.5);
    color: #fff;
}

.form__btn-register:hover{
    background-color: #202245;
}

.form__btn-bottom{
    display: flex;
    justify-content: space-between;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 9px;
    line-height: 15px;
    text-decoration-line: underline;
    color: #EDEDED;
    margin-bottom: 20px;
}

.form__btn-restore{
    margin-left: 20px;
}

.authorization__google{
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.auth__google{
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #FFFFFF;
}

#restore__form,
#exit__popup,
#politic__form,
#slider__form1,
#slider__form2,
#slider__form3,
#change__form{
    display: none;
    background: #516395;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 50px;
}

#exit__popup2{
    display: flex;
    background: #516395;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 50px;
}

.restore__form-title,
.exit__popup-title,
.change-title{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 21px;
}

.restore__form-input{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 21px;
    color: rgba(250, 250, 250, 0.5);
    padding : 7px 28px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    min-width: 262px;
    margin-bottom: 5px;
}

.restore__form-input::placeholder{
    color: rgba(250, 250, 250, 0.5); 
}

.restore__form-info,
.change-info{
    font-weight: normal;
    font-size: 11px;
    line-height: 10px;
    max-width: 261px;
    margin-bottom: 29px;
}

.restore__form-info span,
.change-info span{
    color: #FE0000;
}

.support__form-btn,
.popup-btn__exit{
    width: 150px;
    padding: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer; 
    border: none;
    transition: all .5s;
    background-color: #202245;
    color: #fff;
}

.support__form-btn:hover,
.popup-btn__exit:hover{
    background: rgba(32, 34, 69, 0.5);
}

.exit__popup-text{
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    max-width: 244px;
    margin-bottom: 31px;
}

.change__form-wrapper form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-input{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: rgba(250, 250, 250, 0.5);
    padding : 7px 28px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    min-width: 262px;
    margin-bottom: 25px;
}

.change-input::placeholder{
    color: #fff;
}

.change-info{
    margin-bottom: 16px;
}



.registration__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.registranion__form{
    background: #516395;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.registranion__form-title{
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    margin-top: 13px;
}

.registranion__form form{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 24px 40px 40px 40px;
    background: #516395;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.5);
    padding: 25px 54px;
}

.registranion__form-subtitle{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 53px;
}

.registration__input{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 8px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    text-align: left;
    width: 262px;
    margin-bottom: 11px;
}

.registration__input::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.registration__btn{
    background: #202245;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
    padding: 12px 32px;
    margin-top: 58px;
    border: none;
    cursor: pointer;
    transition: all .5s;
}

.registration__btn:hover{
    background-color: #fff;
    color: #323469;
}

.registration__wrapper img{
    min-height: 547px;
    
}

.publication__list-title{
    font-weight: 300;
    font-size: 50px;
    line-height: 59px;
    color: #516395;
    margin-top: 50px;
    padding-bottom: 5px;
    border-bottom: 1px solid #323469;
}

.publication__list-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px;
}



.publication__list-inner{
    max-width: 765px;
    margin-bottom: 40px;
    background-color: #516395;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
    transition: all .3s;
}

.publication__list-inner:hover{
    box-shadow: 0px 15px 25px #516395;
}

.post__content{
    padding: 23px 35px;
}

.post__title{
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 13px;
}

.post__text{
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 33px;
}

.post__bottom{
    display: flex;
    justify-content: space-between;
}

.post__bottom-date{
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.post__bottom-btn{
    font-size: 14px;
    line-height: 16px;
    text-decoration-line: underline;
    color: #FFFFFF;
}


.pagination{
    width: 100%;
    margin-top: 70px;
}

.pagination-list{
    display: flex;
    justify-content: center;
}
.pagination-list__item{
    padding: 6px 12px;
    border: 2px solid transparent;
    margin: 0 4px;
    font-size: 18px;
    line-height: 22px;
    color: #C4C4C4;
}


.pagination-list__item.active{
    border: 2px solid #516395;
    color: #516395;
}

.pagination{
    border-bottom: 1px solid #323469;
    margin: 50px;
    padding-bottom: 10px;
    
}

.pagination-list__item a{
    display: block;
    color: #516395;
}


.publication__content{
    background-color: #516395;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    border-radius: 5px;
}

.publication__title{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 3px;
}

.publication__container-text{
    padding: 25px 55px;
    position: relative;
}

.publication__text{
    font-size: 14px;
    line-height: 21px;
}

.publication__span{
    display: flex;
    margin-bottom: 28px;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: #828282;
}

.publication__subject{
    padding-left: 28px;
    position: relative;
}

.publication__subject::before{
    content: url('../images/ellipse.svg');
    position: absolute;
    width: 6px;
    height: 6px;
    top: 0;
    left: 10px;
}

.repost__btn{
    position: absolute;
    right: -8px;
    top: 18px;
    margin-right: 34px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.repost__btn::after{
    content: url('../images/repost.svg');
    position: relative;
    width: 24px;
    height: 24px;
    top: 7px;
    left: 5px;
}

.publication__img{
    max-width: 100%;
}

.comments__wrapper{
    background: #202020;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.35);
    margin: 20px 0;
    padding-left: 350px;
    padding-right: 350px;
    padding-bottom: 20px;
    transition: all .3s;
    border-radius: 5px;
}

.comments__wrapper:hover{
    box-shadow: -10px 15px 25px #415DA9;
}

.comments__title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    padding-top: 15px;
    margin-bottom: 20px;
}

.comments__form{
    display: flex;
    flex-direction: column;
}

.comments__form-input{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: #fff;
    margin-bottom: 12px;
}

.comments__form-btn{
    width: 91px;
    height: 30px;
    padding: 5px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    cursor: pointer;
    border: none;
    transition: all .5s;
    background: #516395;
    box-shadow: 0px 4px 15px -7px rgba(48, 55, 201, 0.3);
    border-radius: 5px;
    color: #fff;
    margin-bottom: 30px;
}

.comments__form-btn:hover{
    background: #6E7DA8;
    box-shadow: 0px 4px 40px -7px #000CFC;
}

.comments__user{
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 25px;
}

.comments__user-name{
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 2px;
}

.comments__user-date{
    color: #757575;
    margin-bottom: 10px;
}

.comments__user-text{
    max-width: 550px;
    margin-bottom: 10px;
}

.comments__user-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #516395;
    transition: all .5s;
    padding: 0;
}

.comments__user-btn:hover{
    color: #fff;
}