{% extends "base.html" %}

{% block title %}Пока, пока{% endblock %}

{% block content %}
 <section class="login">
    <div class="container">
        <div class="login__wrapper">
      <div id="exit__popup2">
    <h5 class="exit__popup-title">До свидания!</h5>
    <p class="exit__popup-text">
      Чтобы быть в курсе всех событий Кызылжарской районной больницы, посещайте нас почаще!
    </p>
    <button class="popup-btn__exit" type="submit"><a href="{% url "login" %}"> Ok</a></button>
  </div>
        </div>
    </div>
 </section>
{% endblock %}