{% extends "base.html" %}

{% block title %}Пароль изменен{% endblock %}

{% block content %}

    <section class="registration">
        <div class="container">
            <div class="registration__wrapper">
                <div class="registranion__form">
                    <h4 class="form__btn-politic">Пароль изменен</h4>
                    <p class="form__btn-politic">Ваш пароль успешно изменен.</p>
                    <p class="form__btn-politic">Не забудьте Ваш новый пароль, а лучше запишите его.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}