{% extends "blog/base.html" %}
 {% load static %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

<!--{% with comments.count as total_comments %}
<h2>{{ total_comments }} комментариев{{ total_comment|pluralize }}</h2>
{% endwith %}
    {% for comment in comments %}
        <div class="comment">
        <p class="info">
        Комментарий {{ forloop.counter }} автор {{ comment.name }}
    {{ comment.created }}
        </p>
    {{ comment.body|linebreaks }}
        </div>
    {% empty %}
    <p>Пока комментариев нет.</p>
    {% endfor %}
{% if new_comment %}
<h2>Ваш комментарий был добавлен.</h2>
{% else %}
<h2>Добавить новый комментарий</h2>
<form action="." method="post">
{{ comment_form.as_p }}<br>
{% csrf_token %}
<p><input type="submit" value="Добавить комментарий"></p>
</form>
{% endif %}-->

    <section class="publication">
        <div class="container">

            <div class="publication__content animate__animated animate__zoomIn">
                <div class="publication__container-text">
                    <h5 class="publication__title">{{ post.title }}</h5>
                    <div class="publication__span">
                        <div class="publication__date">{{ post.publish }}</div>
                        <div class="publication__subject">{{ post.author }}</div>
                    </div>
                    <button class="repost__btn"><a href="{% url "blog:post_share" post.id %}">поделиться</a></button>
                    <p class="publication__text">

                    </p>
                </div>

                <img class="publication__img" src="{{post.image.url}}" alt="publication__img" width="100%">

                <div class="publication__container-text">
                    <p class="publication__text">
                        {{ post.body|linebreaks }}
                    </p>
                </div>
            </div>
        </div>


        <section class="comments">
            <div class="container">
                <div class="comments__wrapper">
                    <h5 class="comments__title">Обсуждение</h5>
                    <form class="comments__form" action="." method="post">
                        {{ comment_form.as_p }}
                        {% csrf_token %}
                        <button class="comments__form-btn">Отправить</button>
                    </form>
                    {% for comment in comments %}

                    <div class="comments__users">
                        <div class="comments__user">
                            <div class="comments__user-name">{{ comment.name }}</div>
                            <div class="comments__user-date">{{ comment.created }}</div>
                            <p class="comments__user-text">
                               {{ comment.body|linebreaks }}
                            </p>
                            <button class="comments__user-btn">ответить</button>
                        </div>
                    </div>
                    {% empty %}
                    <p>Пока комментариев нет.</p>
                    {% endfor %}
                </div>


            </div>
        </section>
        </section>


{% endblock %}